
@{
    ViewBag.Title = "Recepción de Mercadería";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recepción de Productos</h2>
<hr />

<a href='@Url.Action("Registrar")' class="btn btn-success">
    <i style="width:30px; height:30px" data-feather="plus-circle"></i>
    <span>
        <strong>Registrar</strong>
    </span>
</a>
<br />
<br />
<div class="form-control p-4">
    <table id="tabla" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nro. INGR.</th>
                <th>FECHA</th>
                <th>PROVEEDOR</th>
                <th>Nro. O.C.</th>
                <th>No. DOC.</th>
                <th>IMPORTE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts{
    <script>

        //----DataTable-----
        var tabladata;
        tabladata = $("#tabla").DataTable({
            order: [[0, 'desc']],
            "drawCallback": function (settings) {
                feather.replace();
            },
            "ajax": {
                "url": '@Url.Action("Listar", "Ingreso")',
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                { "data": "idIngreso" },
                { "data": "fechaRegistro"},
                { "data": "proveedor" },
                { "data": "nroOrden" },
                { "data": "nroDocumento" },
                {
                    "data": "costoTotal", "render": function (data, type, row) {
                        // esto es lo que se va a renderizar como html
                        return `S/. ${row.costoTotal}`;
                    }
                },
                {
                    "data": "idIngreso", "render": function (data) {
                        return "<a type='button' class='btn btn-info btn-sm ms-2' href='@Url.Action("Detalle","Ingreso")?id=" + data + "'><i data-feather='eye'></i></a>" +
                            "<a type='button' class='btn btn-secondary btn-sm ms-2' href='@Url.Action("Editar","Ingreso")?id=" + data + "'><i data-feather='edit-2'></i></a>"
                    },
                    "orderable": false,
                    "searchable": false,
                    //"width": "150px"
                },
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            }
        });

    </script>
}

