
@{
    ViewBag.Title = "Sin acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-lg-7 p-4">
    <h2 class="bg bg-danger text-white">No estás autorizado para estar aquí</h2>
</div>
