@* Detalles del Usuario *@
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">Código:</div>
        <div class="col-md-7">
            <input id="txtCodigo" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Usuario:</div>
        <div class="col-md-7">
            <input id="txtUsuario" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Contraseña:</div>
        <div class="col-md-7">
            <input id="txtPassword" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Rol:</div>
        <div class="col-md-7">
            <input id="txtRol" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Estado:</div>
        <div class="col-md-7">
            <input id="txtEstado" class="form-control" readonly />
        </div>
    </div>
</div>
