@* Detalles del Proveedor *@
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">Código:</div>
        <div class="col-md-7">
            <input id="txtCodigo" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Nro. de Documento:</div>
        <div class="col-md-7">
            <input id="txtDocumento" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Nombre:</div>
        <div class="col-md-7">
            <input id="txtNombre" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Dirección:</div>
        <div class="col-md-7">
            <input id="txtDireccion" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Departamento:</div>
        <div class="col-md-7">
            <input id="txtDepartamento" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Provincia:</div>
        <div class="col-md-7">
            <input id="txtProvincia" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Distrito:</div>
        <div class="col-md-7">
            <input id="txtDistrito" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Teléfono:</div>
        <div class="col-md-7">
            <input id="txtTelefono" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Email:</div>
        <div class="col-md-7">
            <input id="txtEmail" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Condición de Pago:</div>
        <div class="col-md-7">
            <input id="txtCondicion" class="form-control" readonly />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">Estado:</div>
        <div class="col-md-7">
            <input id="txtEstado" class="form-control" readonly />
        </div>
    </div>
</div>
